@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  background-color: #aae5aa;
}

:focus {
  outline: none !important;
}
